body,h1,h2,h3,h4,h5,h6,p,button,input,select,textarea {
    padding: 0;
    margin: 0;
    font-family: 'Microsoft YaHei';
    font-size: 12px;
    font-weight: normal;
    outline: none;
}
body {
    background-color: #eff1f2;
}
a {
    text-decoration: none;
    color: #1e9fa4;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
select {
    height: 30px;
    outline: none;
    border: 1px solid #747a86;
}

.main-container {
    min-width: 1000px;
}
.main-content {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.main-content-body {
    background-color: white;
    border-radius: 10px;
}
.main-segment {
    border: 1px solid #d5d5d5;
    width: 924px;
    margin-left: auto;
    margin-right: auto;
    padding: 12px 18px;
}

/* public */
.xxg-btn {
    padding: 6px 30px;
    background-color: #1e9fa4;
    color: white;
    border-radius: 5px;
    border: 0px;
    outline: none;
    cursor: pointer;
}
.xxg-search-table {
    border-collapse: collapse;
    width: 922px;
}
.xxg-search-table tr {
    height: 45px;
    border-bottom: 1px #e8e8e8 dashed;
}

/* 头部 */
.main-header-title {
    background: #1e9fa4;
    height: 70px;
}
.main-header-title>a {
    font-size: 25px;
    margin-left: 20px;
    color: white;
    line-height: 70px;
}
.main-header-title>ul {
    float: right;
    margin-top: 22px;
}
.main-header-title>ul li {
    float: left;
    color: white;
    padding-right: 20px;
    background-image: url("../img/icon-header-title-line.png");
    background-repeat: no-repeat;
    cursor: pointer;
    font-size: 14px;
}
.main-header-title>ul li a {
	color: white;
}
.main-header-title-btn1 {
    background-position: -12px -12px;
}
.main-header-title-btn2 {
    background-position: -74px -12px;
}
.main-header-title-btn3 {
    background-position: -138px -12px;
}
.main-header-title-btn4 {
    background-position: -203px -12px;
}

/* 主导航 */
.main-nav {
    padding-top: 28px;
}
.main-nav ul {
    height: 45px;
    background-color: #fe7725;
    border-bottom: 1px solid #d5641e;
    border-radius: 10px;
    padding-left: 20px;
}
.main-nav ul li {
    float: left;
    height: 45px;
    line-height: 45px;
    font-size: 16px;
}
.main-nav ul li a {
    display: block;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}
.main-nav ul li a:hover,.main-nav ul li a.main-nav-selected {
    background-color: #f76109;
}
.second-nav {
    width: 980px;
    height: 38px;
    background-color: white;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 14px;
}
.second-nav ul li {
    float: left;
    padding-top: 9px;
}
.second-nav ul li a {
    border: 1px solid #dbdfe1;
    color: #3f3f3f;
    padding: 3px 18px;
    border-radius: 15px;
    margin-right: 15px;
}
.second-nav ul li a:hover,.second-nav ul li a.second-nav-selected {
    border-color: #fe7725;
    color: #fe7725;
}


/* 分页 */
.xxg-pager {
    padding: 20px 20px;
}
.pager-list {
    overflow: hidden;
    border-left: 1px #757b87 solid;
    margin-left: 270px;
}
.pager-list li {
    float: left;
    border-right: 1px #757b87 solid;
    border-top: 1px #757b87 solid;
    border-bottom: 1px #757b87 solid;
}
.pager-list li a {
    color: #6c6c6c;
    display: block;
    padding: 5px 8px;
}
.pager-list li.selected a {
    background-color: #757b87;
    color: white;
}


/* 首页 */
.index-main {
    width: 562px;
    margin-left: auto;
    margin-right: auto;
}
.index-main-search {
    border: 2px solid #1e9fa4;
    border-radius: 5px;
    height: 38px;
    line-height: 38px;
}
.index-main-search>div {
    float: right;
    width: 75px;
    background-color: #1e9fa4;
    color: white;
    background-image: url("../img/icon-search.png");
    background-repeat: no-repeat;
    background-position: 32px 8px;
    padding-left: 55px;
    font-size: 20px;
    cursor: pointer;
}
.index-main-search>select {
    border: 0px;
    width: 53px;
    margin-left: 14px;
}
.index-main-search>input {
    border: 0px;
    height: 38px;
    border-left: 1px solid #1e9fa4;
    padding-left: 20px;
    width: 310px;
}
.index-main-hot {
    font-size: 14px;
    color: #948f8c;
    margin-top: 10px;
}
.index-main-link {
    padding-top: 40px;
    height: 170px;
}
.index-main-link>div {
    width: 268px;
    border: 1px solid #1e9fa4;
    height: 130px;
    background-color: #dcf7f9;
}
.index-main-link>div>a {
    margin-left: 70px;
    display: inline-block;
    margin-top: 40px;
}

/* 任务列表 */
.task-list table {
    width: 100%;
    border: 1px solid #eaeaea;
    border-collapse:collapse;
}
.task-list thead {
    font-size: 16px;
}
.task-list thead tr {
    height: 55px;
}
.task-list td {
    padding-left: 30px;
    padding-top: 25px;
    padding-bottom: 23px;
    border-bottom: 1px solid #eaeaea;
}

/* 创建任务 */
.create-task {
    padding: 20px 20px;
    width: 960px;
}
.create-task h3 {
    font-size: 20px;
    color: #1e9fa4;
    padding-top: 12px;
    padding-bottom: 8px;
}
.create-task h3 span {
    display: inline-block;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    border-radius: 11px;
    background: #1e9fa4;
    color: white;
}
.create-task .segment {
    border: 1px solid #d5d5d5;
}
.create-task .segment-line {
    padding: 0px 20px;
}
.create-task .segment-line-first {
    padding-top: 20px;
}
.create-task  .segment-line-last .segment-line-main {
    padding-bottom: 20px;
    border-bottom: none;
}
.segment-line-special {
    background-color: #fffabd;
}
.segment-line-main {
    border-bottom: 1px dashed #e8e8e8;
    padding: 10px 0px;
}
.segment-line-header {
    width: 110px;
    float: left;
}
.segment-line-header-important {
    color: #fa5712;
}
.segment-line-body {
    margin-left: 110px;
}
.create-task .task-type span {
    padding: 5px 15px;
    border: 1px solid #747a86;
    border-radius: 5px;
    margin-right: 15px;
    cursor: pointer;
    color: #3f3f3f;
}
.create-task .task-type span.selected {
    border-color: #1e9fa4;
    background-color: #1e9fa4;
    color: white;
}
.create-task-input {
    height: 29px;
    border: 1px solid #747a86;
    outline: none;
}
.create-task .radio-block {
    display: inline-block;
    padding-right: 15px;
    padding-bottom: 10px;
}

/* 已接任务 */
.my-process-task-status span {
    border: 1px solid #747a86;
    padding: 6px 12px;
    border-radius: 4px;
    margin-right: 10px;
    cursor: pointer;
}
.my-process-task-status span.selected {
    color: #1e9fa4;
    border-color: #1e9fa4;
}
.my-process-task-table {
    line-height: 25px;
}

/* 用户中心 */
.user-center-left-nav {
    float: left;
    width: 158px;
    background-color: white;
    border: 1px solid #e2e6e8;
}
.user-center-left-nav-header {
    color: #b0b0af;
    font-size: 18px;
    height: 59px;
    line-height: 59px;
    text-align: center;
    border-bottom: 1px solid #e2e6e8;
}
.user-center-left-nav ul {
    margin-left: 20px;
    margin-right: 20px;
}
.user-center-left-nav li {
    height: 39px;
    line-height: 39px;
    border-bottom: 1px solid #e2e6e8;
}
.user-center-left-nav li a {
    font-size: 14px;
    color: #3f3f3f;
}
.user-center-left-nav li a.selected,.user-center-left-nav li a:hover {
    color: #fa5712;
}
.user-center-left-nav li a span {
    color: #fa5712;
}
.user-center-right {
    margin-left: 170px;
    padding: 0px 30px 30px 30px;
    background-color: white;
}
.user-center-right-header {
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: 15px;
}
.user-center-right-box {
    border: 1px solid #dbdbdb;
}
.user-center-table-container {
    margin: 0px 25px;
    font-size: 14px;
}
.user-center-table {
    width: 100%;
}
.user-center-table td {
    border-bottom: 1px dashed #e8e8e8;
    line-height: 50px;
}
.user-center-right-title {
    color: #1e9fa4;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.user-center-msg-table,.user-center-border-table {
    width: 100%;
    border-collapse: collapse;
}
.user-center-msg-table thead td,.user-center-border-table thead td {
    height: 59px;
    line-height: 59px;
}
.user-center-border-table tbody td {
    height: 39px;
    line-height: 39px;
}
.user-center-border-table td {
    text-align: center;
    border: 1px solid #d5d5d5;
}
.user-center-msg-table td {
    text-align: center;
    border-bottom: 1px solid #d5d5d5;
}
.user-center-msg-table td {
    padding: 20px;
}
.user-center-msg-table thead {
    font-size: 16px;
}

/* 我的综合评分 */
.comment-table {
    border-collapse: collapse;
    width: 536px;
    margin-left: 188px;
}
.comment-table td {
    border: 1px solid #d5d5d5;
    text-align: center;
    line-height: 35px;
}

/* 客户端下载 */
.client-download-table {
    border-collapse: collapse;
    font-size: 16px;
    width: 100%;
}
.client-download-table td {
    border: 1px solid #d8d8d8;
    text-align: center;
    padding: 15px;
    line-height: 26px;
}
.client-download-table-div {
    text-align: left;
    padding-left: 33px;
}

/* 帮助中心 */
.help-center-right-box {
    border: 0px;
}
.help-center-right-box li {
    border-bottom: 1px dashed #e8e8e8;
    height: 44px;
    line-height: 44px;
}
.help-center-right-box li a {
    color: #3f3f3f;
    font-size: 14px;
}
.help-center-right-box li a:hover {
    color: #fa5712;
}
.help-center-right-box-breadcrumb {
    color: #948f8c;
    font-size: 14px;
    padding-top: 20px;
}
.help-center-right-box-breadcrumb a {
    color: #948f8c;
}
.help-center-right-box h1 {
    font-size: 24px;
    text-align: center;
    border-bottom: 1px solid #ececec;
    padding-top: 35px;
    padding-bottom: 20px;
}

/* 充值 */
.payment-table-div {
    padding-left: 210px;
    font-size: 16px;
    text-align: left;
}
.payment-table-div tr {
    height: 40px;
}


/* layer */
.xxg-layer {
    width: 600px;
}
.xxg-layer-footer {
    padding-top: 8px;
    height: 35px;
    float: right;
}
.xxg-layer-header {
    background: #1e9fa4;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    padding-left: 20px;
    color: white;
}
.xxg-layer-container {
    display: none;
}